<app-header></app-header>
<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div *ngFor="let cm1 of conferenceMeta.slice(0, (conferenceMeta.length - 1)/3)"
           class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <app-conference-block [conferenceName]="cm1.conferenceName"
                              [conferenceSymbolAddress]="cm1.conferenceSymbolAddress"
                              [conferenceUrl]="cm1.conferenceUrl">
        </app-conference-block>
      </div>
      <div *ngFor="let cm2 of conferenceMeta.slice((conferenceMeta.length - 1)/3, (conferenceMeta.length - 1)/3 * 2);"
           class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <app-conference-block [conferenceName]="cm2.conferenceName"
                              [conferenceSymbolAddress]="cm2.conferenceSymbolAddress"
                              [conferenceUrl]="cm2.conferenceUrl">
        </app-conference-block>
      </div>
      <div *ngFor="let cm3 of conferenceMeta.slice((conferenceMeta.length - 1)/3 * 2, conferenceMeta.length)"
           class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <app-conference-block [conferenceName]="cm3.conferenceName"
                              [conferenceSymbolAddress]="cm3.conferenceSymbolAddress"
                              [conferenceUrl]="cm3.conferenceUrl">
        </app-conference-block>
      </div>
    </div>
  </div>
</div>
